langchain 
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain_chroma
langchain_huggingface
faiss-cpu
langchain-groq
chromadb
sentence_transformers
duckdb
pandas
langchain-openai
streamlit
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr